.font-link{
    font-family: 'Raleway', sans-serif;
}
.content{
    width:1063px;
    text-align: justify;
}
.img{
    padding:25px;
}

.lead{
    font-size: 18px;
}

.heading{
  border: 2px solid black;
}


.mainheading{
    text-align: center;
    margin: 10px;
    font-size: 45px;
    font-weight: 300;
    line-height: 1.6;
}
.display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: lightgray;
    border-radius: 7px;
    margin: 16px;
    padding: 10px;
}

.image{
    padding: 0px;
    border: 2px solid black;
    width: 340px;
    height: 270px;
    margin: 6px;
}